

.list-prices {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    display: flex;
    
  }
  
  .pricing-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 30%;
  }
  
  .pricing-card div {
    font-size: medium;
    font-weight: bolder;
    margin-bottom: 15px;
  }

  .price {
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  
  .available {
    color: green;
  }
  
  .unavailable {
    color: red;
  }