<div class="header">
    <div class="logo">
        <a href="/">
            <img src="../../../assets/imgs/logo/logo.png" alt="Logo" width="150" height="100" />
        </a>
    </div>
    <div class="menu">
        <ul class="links">
            <li><input type="text" placeholder="Procurar..." aria-label="Search" /></li>
            <li><a href="/scrum-board"><i class="fas fa-tasks"></i> Minhas tasks</a></li>
            <li><a href="#"><i class="fas fa-user"></i> Profile</a></li>
            <li><a href="#"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        </ul>
    </div>
</div>
