.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--bs-secondary) ;
    border-bottom: 1px solid #ccc;
    margin: 15px;
    border-radius: 20px;
}


button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}

button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

.user-tag {
    display: flex;
    color: #fff;
    font-weight: bolder;
    justify-content: space-between;
    margin: 5px;
 }

.btn-primary {
    color: #fff;
    background-color: #696cff;
    border-color: #696cff;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
}

.imagem-circulo{
    background-color: var(--bs-body-bg);
    border-radius: 50%;
}

.space{
    padding: 10px;
    margin: 5px;
}