<header class="header">
    <div class="flex items-center justify-between" style="width: 100%;">
        <div class="flex items-center gap-2">
            <div class="logo">📋</div>
            <h1 class="text-primary">Task Manager</h1>
        </div>
        
        <div class="flex items-center gap-2" *ngIf="keycloakService.isAuthenticated(); else login" >
            <div  >
                <h1>{{profile?.username}}</h1>
            </div>

            <button class="button button-primary">+ Nova Tarefa</button>
            <button class="button button-primary"  (click)="keycloakService.logout()">Logout</button>
        </div>
        <ng-template #login>
            <button class="button button-primary" (click)="keycloakService.login()">Login</button>
        </ng-template>
    </div>
</header>
