<div class="header">
    <div class="logo">
        <div class="imagem-circulo" >
            <img src="../../../assets/imgs/logo-task-manager.png" width="100px" height="100px"/>
        </div>
    </div>
    <div class="login" >
        <div *ngIf="keycloakService.isAuthenticated(); else login">
            <div>
                <div class="user-tag">
                    <img class="imagem-circulo space" src="../../../assets/imgs/user-default-logo.jpeg" width="50px" height="50px"/>
                    <p class="space">{{userName}}</p>
                </div>
                <button class="btn btn-primary"  (click)="keycloakService.logout()">Logout</button>
            </div>
        </div>
        <ng-template #login>
            <button class="btn btn-primary" (click)="keycloakService.login()">Login</button>
        </ng-template>
    </div>

</div>
