
  .content {
    display: flex;
    flex: 1;
  }

  .main-content {
    flex: 1;
    padding: 20px;
    border: solid 2px var(--bs-secondary);
    border-radius: 20px;
    margin: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }